.home{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(252, 255, 251);
    padding-left: 10px;
}



header{
    background-image: url(../../../assets/1-14-900x300.jpg);
    
}


.form-group{
    padding-right: 10px;
}


@media screen and (min-width : 992px){
    h1{
        padding-top: 6px;
        font-size: 30px;
    }
    .form-group{
        padding-top: 6px;
        padding-left: 200px;
        padding-right: 20px;
        
    }
}

@media screen and (max-width : 992px){
    h1{
        padding-top: 10px;
        font-size: 31px;
    }
    .form-group{
        padding-top: 10px;
        padding-right: 20px;
    }
}


@media screen and (max-width : 600px){
    h1{
        padding-top: 20px;
        font-size: 30px;
    }
    .form-group{
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
}
