.home{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(252, 255, 251);
    padding-left: 10px;
}

header{
    background-image: url(../../../assets/1-14-900x300.jpg);
    
}

