body{
    margin-left: -2px;
}

img{
    height: 500;
    width: 200;
}

th{
    width: 50%;
    vertical-align: middle;
}

@media screen and (max-width : 992px){
    img{
        height: 400px;
    }
}

@media screen and (max-width : 600px){
    img{
        height :250px;
        width : 350px;
    }
    /* .buttons{
        padding-top: 10px;
    } */

    th{
        vertical-align: bottom;
    }


}



