<app-header></app-header>

<div>

</div>
<body>

    <table >
        <th>
            <img src="../../../assets/image.jpg">
        </th>
        <th style="text-align: center;">

            <a routerLink="/stock-list"><button type="button" class="btn btn-outline-primary">Stock List</button></a>
            <br><br>

            <a routerLink="/stock-entry"><button type="button" class="btn btn-outline-primary">Stock entry</button></a>
            <br><br>

            <a routerLink="/sell-entry"><button type="button" class="btn btn-outline-primary">Sell entry</button></a>
            <br><br>

            

        </th>
        


    </table>






</body>