h2{
    padding-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 780;
    text-align: center;
}


table{

    margin: 20 20 20 20;
    width: 100%;
    
}



img{
    height : 150px;
    width : 150px;
}

@media screen and (min-width : 992px){
    .item{
        padding-left :  40PX;
    }
    body{
        background-color: burlywood;
    }
    
}

@media screen and (min-width:600px) and (max-width : 992px)
{
    .item{
       padding-left: 40PX;
    }
    body{
        background-color: cornflowerblue;
    }

}

@media screen and (min-width : 0px) and (max-width : 600px) 
{
    .item{
       padding-left: 170px;
    }
    body{
        background-color: cyan;
    }
    
}