<app-header></app-header>

<body>


    <h2>List of Stock Details</h2>
<div class="Tableout">
    <table>
        <tr>
            <th>Item No</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Purchase Price</th>
            <th>Selling Price</th>
        </tr>
        <tr *ngFor="let sd of stockdetail">
            <td>{{sd.ItemId}}</td>
            <td>{{sd.ItemName}}</td>
            <td>{{sd.Quantity}}</td>
            <td>{{sd.PurchasePrice}}</td>
            <td>{{sd.SellingPrice}}</td>
        </tr>
    </table>
</div>




</body>
